body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   overflow-x:hidden; /* FF shows scroll horizontal scrollbars */
}

h1{
	font-size: 1.6em;
}

li{
	padding-bottom: 40px;
}

pre {
	font-size: 40px;
	color: white;
	background-color: #333;
	background-color: rgba(30,30,30,0.98);
	border-radius: 10px;
}

.hi-viz {
	height: 100%;
	padding: 1px 40px 60px;
	margin:  0px -40px;
	background-color: #333;
	background: rgba(0,0,0,0.6);
	border-radius: 10px
}